//fonts
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
//font-family: 'Crimson Text', serif;

@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');
//font-family: 'Jacques Francois', serif;




//colors
$green: #252620;
$khaki: #746553;
$chocolate: #876553;
$beige: #d1c7bb;




//screen dimensions
$desktopMinWidth: 835px;
$tabletMaxWidth: 834px;
$phoneMaxWidth: 600px;



